
.fancy-header {
    color: purple;
    text-decoration: underline;
    text-align: center;
}


body {
    background-color: blanchedalmond;
    background-image: url(../img/Desks.jpg);
    font-family: 'Figtree', sans-serif;
}


