#map {
    width: 100%;
    height: 600px;
}

#forecast-div{
    margin-top: 5em;
    padding-right: 2em;

}
#navbar-main{
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: blue;
}

.card{
    margin-top: 1em;
}

#mapbox-div{
    margin-left: 5em;
    margin-top: 5em;
    position: fixed;
}

html{
    background-color: #3B94D9;
}
